<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Sistema central de aceros</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item active" *ngIf="flagPantalla==0">
            <a class="nav-link" (click)="flagPantalla=0">Proforma</a>
          </li>
          <li class="nav-item" *ngIf="flagPantalla==1">
            <a class="nav-link" (click)="flagPantalla=0">Proforma</a>
          </li>
          <li class="nav-item active" *ngIf="flagPantalla==1">
            <a class="nav-link" (click)="flagPantalla=1">Orden de compra</a>
          </li>
          <li class="nav-item" *ngIf="flagPantalla==0">
            <a class="nav-link" (click)="flagPantalla=1">Orden de compra</a>
          </li>
      </ul>
    </div>
  </nav>
  <hr>
 <div class="dropdown text-center">
  <h3 class="text-center text-secondary mt-2"> Factura a nombre </h3>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{clienteActual.titulo}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
      <ng-container *ngFor="let cliente of clientes">
        <a class="dropdown-item" (click)="clienteActual=cliente">{{cliente.titulo}}</a>
      </ng-container>
    </div>
  </div>
  <hr>
<CA-proforma *ngIf="flagPantalla==0" [clienteActual] ="clienteActual"></CA-proforma>
<CA-orden-compra *ngIf="flagPantalla==1" [clienteActual] ="clienteActual"></CA-orden-compra>